/* common styles here  */
* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}


.color-primary {
    color:#E55473;
}

/* header section style here */
header {
    background: rgba(229, 84, 115, 0.10);

}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100vh;
    gap: 100px;
    padding-top: 150px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}


.header-item {
    width: 50%;
    padding: 60px;
}






.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }


    /* featured flower section styles here  */

.featured-title {
    color: #272727;
    text-align: center;
    margin-top: 178px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
    }


.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    text-align: center;
    margin: auto;
    margin-bottom: 48px;
}


.images {
    display: flex;
    justify-content: center;
    gap: 15px;
    
}


.image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 364px;
    height: 438px;
}


.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}
/* service section styles  */
.service-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding: 80px 70px;
    text-align: center;
}


.service {
    margin: 128px 0px;
}


/* deal section styles here  */
.deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}


.deal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.deal-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px;
}


.deal-item {
    width: 50%;
    text-align: center;
    padding: 100px;
}


/* instagram section style here  */
.insta-img {
    display: flex;
    justify-content: space-around;
    width: 70%; 
    margin: auto;
    gap: 30px;
}

.insta-img img {
    height: 250px;
    width: 350px;
    border-radius: 8px;
    margin-bottom: 128px;

}


/* latest section style here  */
.latest {
    border-radius: 8px;
    background-image: url('../asset/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding: 80px 70px;
    text-align: center;
}

.latest-info {
    width: 70%;
    margin: auto;
}


.latest-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.latest-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}


.btn-latest {
    padding: 18px 31px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


#email {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 23px 313px 22px 22px;
    margin-right: 10px;
}